<a href="{% url 'main' %}" class="logo"></a>
<ul class="menu">
    {#    <ul>#}
    <li>
        <a href="{% url 'main' %}" {% if request.resolver_match.url_name == 'main' %}class="active"{% endif %}>
            домой
        </a>
    </li>
    {# 'products:products' - это <NameSpace>:<Name> #}
    <li>
        {#                <a href="{% url 'products:index' %}"#}
        {#        <a href="{% url 'products:products' %}"#}
        <a href="{% url 'products:index' %}"
           class="{% if request.resolver_match.namespace == 'products' %}active{% endif %}">
            продукты
        </a>
    </li>
    <li>
        <a href="{% url 'contact' %}"
           {% if request.resolver_match.url_name == 'contact' %}class="active"{% endif %}>
            контакты
        </a>
    </li>
    {% if user.is_authenticated %}
        <li>
            <div class="dropdown">
                {#  <a href="{% url 'auth:edit' %}">#}
                {#  {{ user.first_name|default:"Пользователь" }}#}
                {#  {{ user.first_name }}#}
                {#  </a>#}
                <a class="dropdown-toggle" href="" data-toggle="dropdown">
                    {{ user.first_name|default:'Пользователь' }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'auth:edit' %}">
                            профиль
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ordersapp:orders_list' %}">
{#                        <a href="#">#}
                            заказы
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    {% endif %}
    {% if user.is_superuser %}
        <li>
            <a href="{% url 'adminapp:user_read' %}">
                админка
                {#                {{ user.first_name }}#}
            </a>
        </li>
    {% endif %}
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выход</a>
        {% else %}
            <a href="{% url 'auth:login' %}">вход</a>
        {% endif %}
    </li>
    <li>
        <a href="#" class="search"></a>
    </li>
    <li>
        {#        <a href="{% url 'basket:view' %}" class="basket">#}
        {#                <span>#}
        {#                    {% if basket %}{{ basket|length }}{% endif %}#}
        {#                    {{ basket }}#}
        {#                </span>#}
        {#        </a>#}
        <a href="{% url 'basket:view' %}" class="basket">
                <span>
                    {% if basket %}
                        {{ basket.0.total_cost|floatformat:0 }} руб.
                        ({{ basket.0.total_quantity }} шт.)
                    {% endif %}
                    {#                    {{ basket }}#}
                </span>
        </a>
    </li>
</ul>

