{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
{#        {% csrf_token %} - защита от фишинга и прочего #}
        {% csrf_token %}
        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти" />
    </form>
    <br>
{#    <button class="btn btn-round form-control">#}
    <button class="btn btn-link form-control">
        <a href="{% url 'auth:register' %}">
            зарегистрироваться
        </a>
    </button>
{% endblock %}