{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    <div class="hero-white">
        <div class="header clearfix">
            {#        <div class="menu clearfix">#}
            {% include 'mainapp/includes/inc_menu.html' %}
            {#        </div>#}
        </div>
    </div>
    <div class="links clearfix">
        {% include 'mainapp/includes/inc_categories_menu.html' %}
    </div>

{% endblock %}
{% block content %}

    <div class="details">
        {% include 'mainapp/includes/inc_products_list_content.html' %}
    </div>
    <div class="clr"></div>
{% endblock %}